@import '../../../styles/fonts';

.features-content {
    @apply flex-row-reverse xl:justify-end justify-center sm:gap-3 xl:gap-42.7;

    .title-container {
        @apply lg:mt-67 sm:my-20;

        .title {
            @apply max-w-100 md:my-6 mt-4 mb-3;
            @media (min-width: 1024px) {
                @include h2;
            }
            @include h3;
        }
    }

    .features-image {
        @apply lg:w-120 lg:h-125.5 lg:mt-40 mt-20 mb-1;
        @media (min-width: 1280px) {
            @apply mt-48;
            width: 33.06rem;
            height: 34.44rem;
        }
        @media (max-width: 1023px) {
            @apply w-mobile;
            height: 20.5rem;
        }
    }
}

.features-cards {
    @apply xl:justify-end justify-center sm:gap-3 xl:gap-32.5;

    .title-container {
        @apply lg:w-92 w-mobile md:mt-69.5 mt-32.5;

        .description {
            @apply text-dark mt-7.5 mb-7;
            @include text_big;
        }
    }

    .card-container {
        @apply flex items-end lg:flex-row flex-col lg:mt-50 sm:mt-25 mt-9;

        .card {
            @apply flex flex-col justify-end lg:w-84 w-mobile h-68 p-12 lg:rounded-r-md lg:rounded-bl-none rounded-b-md border border-solid border-orange-dark lg:border-l-0 lg:border-t border-t-0;

            img {
                @apply w-20 h-20;
            }

            .card-title {
                @apply text-dark mt-10 mb-4.5;
                @include h4;
            }

            .card-description {
                @apply text-dark-gray;
                @include text;
            }
        }

        .card-white {
            @extend .card;
            @apply bg-light lg:w-84 w-mobile h-84 lg:rounded-l-md lg:rounded-tr-md lg:rounded-br-none rounded-b-none rounded-t-md border-t border-l;
        }
    }
}
