@import '../../styles/fonts';
@import '../../styles/colors';

@mixin button($bg-color, $border: false) {
    @include buttonText;
    @apply py-4 h-12 transition-colors;
    border-radius: 0.38rem;

    @if $border {
        @apply border-gray border border-solid;
    }

    @if $bg-color == $primary {
        &:hover {
            background-color: lighten($color: $bg-color, $amount: 5);
        }

        &:active {
            background-color: lighten($color: $bg-color, $amount: 10);
        }
    } @else {
        &:hover {
            background-color: darken($color: $bg-color, $amount: 5);
        }

        &:active {
            background-color: darken($color: $bg-color, $amount: 10);
        }
    }

    img {
        @apply m-auto w-4;
    }
}

@mixin buttonTransparent($text-color) {
    @apply transition-colors;
    @include text;

    @if $text-color == $light {
        @apply text-light;

        &:hover {
            color: darken($color: $text-color, $amount: 10);
        }

        &:active {
            color: darken($color: $text-color, $amount: 20);
        }
    } @else if $text-color == $dark {
        @apply text-dark;

        &:hover {
            color: lighten($color: $text-color, $amount: 10);
        }

        &:active {
            color: lighten($color: $text-color, $amount: 20);
        }
    }
}

.dark {
    @apply text-light bg-primary;
    @include button($primary, true);
}

.dark_accent {
    @apply text-light bg-dark-accent;
    @include button($dark-accent);
}

.dark_transparent {
    @include buttonTransparent($dark);
}

.light {
    @apply text-dark bg-light;
    @include button($light, true);
    box-shadow: 0 3px 9px 0 rgba(57, 20, 0, 0.08);
}

.light_accent {
    @apply text-light bg-light-accent;
    @include button($light-accent);
}

.light_transparent {
    @include buttonTransparent($light);
}
