@import '../../styles/colors';
@import '../../styles/fonts';

.intro-content {
    @apply w-screen md:h-200 bg-primary flex justify-center items-end flex-row-reverse flex-wrap xl:gap-20 2xl:gap-40;

    .title_container {
        @apply w-130;

        .subtitle {
            @apply text-light-accent;
            @include h5;
        }

        .star {
            @apply w-37 h-37 absolute;
            top: 13.13rem;
            left: 25.81rem;
        }

        .title {
            @apply text-light z-10 relative my-6;
            @include h1;
        }

        .description {
            @apply text-light-gray w-120;
            @include text;
        }

        .button-container {
            @apply flex justify-between items-center w-72 mt-8;

            .button {
                @apply text-light;
                @include text;
            }
        }

        .quote-container {
            @apply flex justify-start items-center gap-4 h-12 mt-28 mb-16;

            img {
                @apply h-12 w-12;
            }

            div {
                @apply h-13;

                p {
                    @apply text-light-gray;
                    @include text;
                }

                span {
                    @apply text-light relative -top-1 left-1.5;
                    @include text;
                }
            }
        }
    }

    .title-image {
        @apply lg:w-100 lg:h-100 lg:mb-25;
        @media (min-width: 1280px) {
            width: 35.62rem;
            height: 37.62rem;
        }
        @media (max-width: 1023px) {
            width: 20.56rem;
            height: 20.88rem;
        }
    }
}
