$error: #ff0000;
$success: #50C878;
$primary: #28293e;
$primary-gray: #3a3c56;
$primary-light: #4e4f6e;
$dark: #391400;
$dark-accent: #b550f8;
$dark-gray: rgba(57, 20, 0, 0.64);
$light: #fff;
$light-accent: #ef6d58;
$light-gray: rgba(255, 255, 255, 0.64);
$gray: rgba(255, 255, 255, 0.3);
$orange-light: #fdf0e9;
$orange-dark: #f3d1bf;
$brown: #5c2000;
$vinous: #570b00;
