$primary: #28293e;
$dark: #391400;
$dark-accent: #b550f8;
$dark-gray: rgba(57, 20, 0, 0.64);
$light: #fff;
$light-accent: #ef6d58;
$light-gray: rgba(255, 255, 255, 0.64);
$gray: rgba(255, 255, 255, 0.3);
$orange-light: #fdf0e9;
$orange-dark: #f3d1bf;