// Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

// Font
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

// html {
//     font-size: calc(1vw/0.9);
// }