@import '../../../styles/colors';
@import '../../../styles/fonts';

.hero-content {
    @apply w-screen md:h-200 bg-primary flex justify-center items-end flex-row-reverse flex-wrap sm:flex-nowrap lg:gap-20;

    .title-container {
        @apply w-mobile lg:w-130 relative;

        .subtitle {
            @apply text-light-accent;
            @include h5;
        }

        .star {
            @apply hidden xl:block w-37 h-37 absolute;
            top: 1.38rem;
            left: 17.38rem;
        }

        .title {
            @apply text-light z-10 relative md:my-6 mt-5 mb-3;
            @media (min-width: 1024px) {
                @include h1;
            }
            @media (max-width: 1023px) {
                @include h2;
            }
        }

        .description {
            @apply text-light-gray max-w-120;
            @include text;
        }

        .button-container {
            @apply flex justify-between items-center w-72 md:mt-8 mt-4;
        }

        .quote-container {
            @apply flex justify-start md:items-center gap-4 md:h-12 h-24 md:mt-28 md:mb-16 mt-12 mb-8;

            img {
                @apply h-12 w-12;
            }

            div {
                @apply md:h-13 h-24;

                p {
                    @apply text-light-gray md:m-0 mb-1;
                    @include text;
                }

                span {
                    @apply text-light md:relative md:-top-1 md:left-1.5;
                    @include text;
                }
            }
        }
    }

    .title-image {
        @apply lg:w-100 lg:h-100 lg:mb-48 md:mb-96 mb-7.5 sm:mb-56;
        @media (min-width: 1280px) {
            @apply mb-25;
            width: 35.62rem;
            height: 37.62rem;
        }
        @media (max-width: 1023px) {
            @apply w-mobile;
            height: 20.88rem;
        }
    }
}
